<a href="https://colab.research.google.com/github/anilkumarKanasani/Google_colab_notebooks/blob/main/Introduction_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Connection to Data Base ( Kaggle )

In [1]:
# Mounting Google Drive to CoLab
from google.colab import drive
drive.mount('/content/drive')
import os
from drive.MyDrive.kaggle_auth import user_name , key
# Logging into Kaggle
os.environ['KAGGLE_USERNAME'] = user_name
os.environ['KAGGLE_KEY'] = key

# Getting the Iris Data from Kaggle
!kaggle datasets download -d uciml/iris
# Unzip the downloaded data
!unzip iris.zip

Mounted at /content/drive
Downloading iris.zip to /content
  0% 0.00/3.60k [00:00<?, ?B/s]
100% 3.60k/3.60k [00:00<00:00, 5.94MB/s]
Archive:  iris.zip
  inflating: Iris.csv
  inflating: database.sqlite

# DATA PRE PROCESSING

In [2]:
# Importing all the requried packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("/content/Iris.csv" , index_col="Id")
df.head(2)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa

Checking for any Null Values in Input data

In [4]:
df.isnull().values.any()

False

There is no null values at all. No need to fill at all.

Removing "Iris-" from all names in Species column.

In [17]:
try:
  df["Species"] = df["Species"].apply(lambda x : x.split('-')[1])
except:
  pass
df.head(2)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
Id
1             5.1           3.5            1.4           0.2  setosa
2             4.9           3.0            1.4           0.2  setosa

# EXPLORATORY DATA ANALYSIS :-

In [20]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000